@import url('https://fonts.googleapis.com/css?family=Oswald');

html,body {
	height: 100%;
	width: 100%;
}
.carousel-indicators li {
	border: 1px solid #2f6b2a !important;
}

.carousel-indicators .active {
	background-color: #2f6b2a !important;
}

.item {
	max-height: 75% !important;
	max-width: 100% !important;
}

.item h1,h2 {
    color: black;
    font-weight: 800;
    letter-spacing: 8px;
    font-size: 4.5em;
    margin : auto 0;
    font-family: 'Shadows Into Light', cursive;
}

.item h2 {
    font-size: 3em !important;
}

img {
    position: static;
  	opacity: 1;
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	filter: blur(1px);
}

.carousel-caption {
	top: 50%;
	transform: translateY(-50%);
	bottom: initial;
	/*to prevent blurry elements when it's placed on half a pixel.*/
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
 
/*Styling the section(parallax)*/

.panel1{
	position: relative;
    min-height: 62%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    border-bottom: 1px solid grey;
}

.panel1 a {
  text-decoration: none;
}

#p1{
    background-image: url(../images/gallery/hostel_2.jpg);
}

#p5{
    background-image: url(../images/gallery/Cafeteria.jpg); 
}

#p4{
    background-image: url(../images/gallery/1.JPG);           
}

#p2{
    background-image: url(../images/gallery/38.JPG);                    
}

#p3{
    background-image: url(../images/gallery/sunburn.jpg);                    
}

#p6{
    background-image: url(../images/gallery/30.JPG);                    
}

.panel1 > div {
	border-top: 8px solid lightgrey;
	/*opacity: .65;*/
    width: 5%;
    height: 22%;
    transition: ease .3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    text-align: center;
}

/* giving the borders and position to links*/

#p1 > div {
	border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
    background-color: darkviolet;
}

#p2 > div {
	right: 0;
	border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    text-align: left;
    background-color: #FFDC00;
}

#p3 > div {
	border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
    background-color: beige;
}

#p4 > div {
	border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    right: 0;
    background-color: deeppink;
}

#p5 > div {
	border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
    background-color: burlywood;
}

#p6 > div {
	border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    right: 0;
    background-color: goldenrod;
}



/* testing */
#p2 > span,#p4 > span,#p6 > span {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    right: 1%;
    font-size: 1.7em;
    color: #000000;
    word-wrap: break-word;
}

#p1 > span,#p3 > span,#p5 > span {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    left: 1%;
    font-size: 1.7em;
    color: #000000;
}

#p6 > span {
	color: #000000; 
	width: 12%;
	font-size: 1.6em;
}
#p1 > span{
    color: black;
}

@media screen and (min-width: 1600px) {
	#placeholder {
		font-size: 1.5em;
	}

	#placeholder > h3 {
		font-size: 2em;
	}
}