html
{
	box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px; 
}

/* Navbar */
	.navbar1{
	    margin: auto;
	    position: fixed;
	    width: 100%;
	    z-index: 20000;
	    }

	    .navbar1 ul{
	    background-color: #4A4A4A;
	    border-bottom: 10px solid #875555;
	    height: 70px;
	    text-align: right;
	    }

	    .navbar1 li{
	    display: inline-block;
	    text-decoration: none;
	    padding-right: 10px; 
	    line-height: 70px;
	    transition: ease-out 0.2s;
	    }

	    .navbar1 a{
	    font-size: 18px;
	    text-decoration: none;
	    text-align: right;
	    color: #875555;
	    padding: 10px;
	    transition: ease-out 0.4s;
	    letter-spacing: 0.5px;
	    }
	    @media screen and (min-width: 1600px)
	    {
	    	.navbar1 a
	    	{
	    		font-size: 20px;
	    	}
	    }
	    .navbar1 a:hover{
	    background-color: #875555;
	    color: #4A4A4A;
	    padding: 30px;
	    padding-bottom: 15px;
	    text-decoration: none;
	    transition: ease-out 0.4s; 
	    border-bottom: 10px solid grey;
	    }
	    @media screen and (min-width: 1600px)
	    {
	    	.navbar1 a:hover
	    	{
	    		padding: 25px;
	    		padding-bottom: 14px;
	    	}
	    }

/* Panels */

#container
{
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 68px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.panel
{
	position: absolute;
	width: 40%;
	height: 60%;
	text-align: center;
	transition-duration: 0.5s;
	-moz-transition-duration:0.5s;
	-webkit-transition-duration:0.5s;
	-o-transition-duration:0.5s; 
	transition: 0.5s ease;
}
.text{
	position: relative;
	left: -20px;
	top: 18%;
	text-align: justify;
	display: inline-block;
	transition-duration: 0.5s;
	-moz-transition-duration:0.5s;
	-webkit-transition-duration:0.5s;
	-o-transition-duration:0.5s;	
}
.text > h1{
	padding: 0;
	margin: -2px 0 0 0;
}
#one
{
	left: 0;
	background-color: blue;
}
#two
{
	left: 20%;
	background-color: green;
}
#three
{
	left: 40%;
	background-color: orange;
}
#four
{
	left: 60%;
	background-color: yellow;
}
#five
{
	left: 80%;
	background-color: red;
}



	    